<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--MITSU-->
    <!--<add name="ReservationConnectionString" connectionString="Data Source=163.172.206.126;Initial Catalog=cruise_live;Integrated Security=False; User ID=cruise; Password=Augurs@123" providerName="System.Data.SqlClient" />-->
    <!--BLUE-->
    <!--<add name="ReservationConnectionString" connectionString="Data Source=162.215.252.132;Initial Catalog=cruise_live;Integrated Security=False; User ID=cruise; Password=Augurs@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="ReservationConnectionString" connectionString="Data Source=162.215.252.132;Initial Catalog=advenh49_live;Integrated Security=False; User ID=cruise; Password=Augurs@123" providerName="System.Data.SqlClient" />-->
    <!--LOCAL-->
    <!--<add name="conn" connectionString="Data Source=.\sqlexpress;Initial Catalog=nowoye;Integrated Security=True"/>-->
    <!--<add name="reservationconnectionstring" connectionstring="Data source=.\sqlexpress;initial catalog=advenh49_live;integrated security=true;" providername="system.data.sqlclient" />-->
    <add name="ReservationConnectionString" connectionString="Data Source=NIKITA-PC;Initial Catalog=advenh49_live1;uid=sa;password=sqlpass;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag. 
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <machineKey validationKey="F9E6D9620FE2E8A43060CFCD3C9157887EDD37A40E424215BC636B5EC6F2CB2C770BEFFCCF39F818E111721DFE6826E4F781185B2B9AB94E8895E1DB651DE6A9" decryptionKey="4051042576C3BDAB9BCE920E36D37FE51883EB2E579A5DFE" validation="SHA1"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.5" batch="false">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="mscorlib, Version=5.0.5.0, Culture=neutral, PublicKeyToken=7CEC85D7BEA7798E"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <!--SAMPLE-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="data source=127.0.0.1; integrated security=true;" cookieless="false" timeout="20"/>-->
    <!--MITSU-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="Data Source=162.222.225.88; Integrated Security=false; User ID=cruise; Password=Augurs@123;" cookieless="false" timeout="20"/>-->
    <!--LOCAL-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="Data Source=QJ07302866; Integrated Security=True;" cookieless="false" timeout="20"/>-->
    <!--<sessionState mode="StateServer" cookieless="false" timeout="5"/>-->
  </system.web>
  <appSettings>
    <!--<add key="R_PT_P" value="show=false;Description=Region-Product Type-Product"/>
    <add key="R_P" value="show=false;Description=Region-Product"/>
    <add key="P" value="show=false;Description=Product"/>
    <add key="PT_R_P" value="show=true;Description=Product Type-Region-Product"/>
    <add key="SMTPServer" value="adventureresortscruises.in"/>
    <add key="SMTPUserId" value="reservations@adventureresortscruises.in"/>
    <add key="SMTPPwd" value="Augurs@123"/>
    
    <add key="LockDuration" value="10"/>-->
    
    <add key="R_PT_P" value="show=false;Description=Region-Product Type-Product" />
    <add key="R_P" value="show=false;Description=Region-Product" />
    <add key="P" value="show=false;Description=Product" />
    <add key="PT_R_P" value="show=true;Description=Product Type-Region-Product" />
    <add key="SMTPServer" value="us2.smtp.mailhostbox.com"/>
    <add key="SMTPUserId" value="bookings@adventureresortscruises.com" />
    <add key="SMTPPwd" value="XSyBs^p5"/>
    <add key="LockDuration" value="10"/>
    
    
    <!--This value is in minutes-->
    <!--<add key="username" value="5610027" />
    <add key="password" value="A3IEpPKn" />
    <add key="secret" value="5q9M2W1uKe67B3Ab" />-->
    <!--<add key="mercid" value="20062" />-->
    <!--Testing-->
    <add key="cName" value="Adventure Resorts &amp; Cruises Pvt. Ltd."/>
    <add key="cAddress" value="B209, CR Park, New Delhi 110019"/>
    <add key="cEmail" value="bookings@adventureresortscruises.com"/>
    <add key="cPhoneNo" value="+91 - 011 - 41057370 / 1 / 2"/>
    <add key="cMobile" value="+91 - 9599755353"/>
    <add key="cLogo" value="http://test1.adventureresortscruises.in/Cruise/booking/ARC_Logo.jpg.png"/>
    <add key="ccEmail" value="rabiul.alitest@gmail.com"/>
    <add key="mercid" value="20053"/>
    <add key="username" value="6961805"/>
    <add key="password" value="9D142A67"/>
    <add key="secret" value="8ZI5O4wC1TxlD7U3"/>
    <!--Production
    <add key="username" value="6998555" />
    <add key="password" value="247863E1" />
    <add key="secret" value="25Cutr896173YI4" />
    <add key="mercid" value="20062" />-->
    <add key="FtpUid" value="advenhgy"/>
    <add key="FtpPwd" value="Rogerthat!1377$"/>
    <add key="EncryptionAllowed" value="true"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>