<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />    
  </configSections>

  <connectionStrings>
    <!--    <add name="ResortReservation" connectionString="Data Source=wfcgdmd002;Initial Catalog=Icarus;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />    -->
    <add name="ReservationConnectionString" connectionString="Data Source=IBM-5163992E35F\NetSDK;Initial Catalog=Reservation;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
</configuration>