.headercell { text-align:center; padding:5px; background-repeat:repeat-x;
	BACKGROUND-IMAGE: url(../images/greenbg.gif); border-style:solid; border-width:1px; font-weight:bold; }
	
.menuCell { text-align:left; padding:5px; background-repeat:repeat-x;
	BACKGROUND-IMAGE: url(../images/orangebg.gif); border-style:solid; border-width:1px; width:200px; }

.menuCell a {font-size:14px;}
	
	
.masterlinks { float:left; margin-left:20px; margin-top:20px; }
.linkssection { margin-left:5px; }
.operationlinks { float:left; margin-left:50px; margin-top:20px; }