.header {	width:375px;}
.headertitle
{	font-weight:bold; font-size:large; color:black; font-family: 'Monotype Corsiva', Verdana; 
	height:22px; background-color: #507cd1; text-align:left; width: 375px; background-color:#95bede; }
.errormsgcell {	font-size:x-small; font-family:Verdana; width: auto; }
.errormsglabel {	color:Red; font-size:x-small; width:auto; }
.changeroompax {	font-family:Verdana;	font-size:10px;	width: 375px;	}
.tRooms {	font-family:Verdana;    font-size:10px; }
.tblMaster {	font-family:Verdana;    font-size:10px;    border-width:1px;    border-style:solid; }
.tblRoomsMain {	font-family:Verdana;    font-size:10px; border-width:1px; width:375px; }
.tcCat
{
	font-family:Verdana;
    font-size: 10px;
    border-width:1px;
    border-style:solid;
    padding: 0px 5px 0px 5px;
    color:white;
    width:75px;
    background-color:#342D7E;    
}

.tcRoomHeader
{
	font-family:Verdana;
    font-size: 10px;
    border-width:1px;
    border-style:solid;
    padding-right:5px;
}

.tcRoom
{
	font-family:Verdana;
    font-size: 10px;
    border-width:1px;
    border-style:solid;
    padding-right:5px;
}