.infosection {border: thin solid; margin-left:5px; width:100%; }
.inputsection {border: thin solid; margin-left:5px; margin-bottom:5px; }
.bookedroomssectionheader {padding:5px; }
.bookedroomssection {padding-left:5px; width:805px; }
.pnlBookedRoomDetails { border-bottom:2px solid; }
.ajax__tab_body { height:230px; /*background-color : #FFFFFF;	border-color : -moz-use-text-color #999999 #999999;	border-right : 1px solid #999999;	border-style : none solid solid;	border-width : 0 1px 1px;	font-family : verdana,tahoma,helvetica;	font-size : 10px;	padding : 8px;*/}
.mealPlanLegend { padding:5px 5px 5px 10px; }
.mealPlanTable { width:950px; padding:2px; }
.mealPlanCell { width:200px; padding-left:5px; }
.mealPlanMealCell { width:120px; padding-left:5px; }
